body {
    background: #0f1840;
    margin: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('https://miro.medium.com/max/1400/1*MRBhNYshRszu9rFB6fA09A.jpeg');
    background-size: cover;
    background-position: center center;
  }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Seymour */
